/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "RobotoR";
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoM";
  src: url("/fonts/Roboto-Medium.ttf");
}
h1,
h2 {
  font-family: "RobotoM";
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h5 {
  font-size: 21px;
}

p {
  font-size: 16px;
  color: rgb(114, 114, 114);
  line-height: 24px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "RobotoR";
  background-color: rgb(249, 249, 249);
}

header {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 30px 0;
  position: fixed;
  background-color: rgb(238, 239, 241);
}
header .menu__wrapper {
  width: 1110px;
}
header .menu__wrapper .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-self: start;
  gap: 42px;
}
header .menu__wrapper .menu a:hover {
  color: rgb(60, 96, 139);
}

.main__title {
  background-color: rgb(238, 239, 241);
  width: 100%;
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
}
.main__title .main__title__wrapper {
  width: 1110px;
  padding-top: 258px;
}
.main__title .main__title__wrapper h1 {
  margin-bottom: 60px;
}
.main__title .main__title__wrapper p {
  width: 540px;
  margin-bottom: 65px;
}
.main__title .main__title__wrapper button {
  padding: 18px 40px;
  border: none;
  background-color: rgb(52, 84, 122);
  color: white;
  cursor: pointer;
}
.main__title .main__title__wrapper button:hover {
  background-color: rgb(60, 96, 139);
}

.about__title {
  display: grid;
  justify-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about__title .about__title__wrapper {
  display: grid;
  justify-items: center;
  width: 1110px;
}
.about__title .about__title__wrapper h2 {
  margin-bottom: 50px;
  text-align: center;
}
.about__title .about__title__wrapper p {
  width: 540px;
  text-align: center;
}

.portfolio {
  display: grid;
  justify-items: center;
  background-color: rgb(52, 84, 122);
  padding: 100px 0;
  width: 100%;
  justify-content: space-around;
}
.portfolio .portfolio__wrapper {
  width: 1110px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.portfolio .portfolio__wrapper .work__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: start;
  align-items: center;
}
.portfolio .portfolio__wrapper .work__card .work__card__icon {
  background-image: url(/img/project.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.portfolio .portfolio__wrapper .work__card h5,
.portfolio .portfolio__wrapper .work__card p {
  color: white;
}

.service__title {
  display: grid;
  justify-items: center;
  padding-top: 100px;
  padding-bottom: 60px;
}
.service__title .service__title__wrapper {
  display: grid;
  justify-items: center;
  width: 1110px;
}
.service__title .service__title__wrapper h2 {
  margin-bottom: 50px;
  text-align: center;
}
.service__title .service__title__wrapper p {
  margin-bottom: 50px;
  text-align: center;
  width: 540px;
}

.demo__video__wrapper {
  display: grid;
  justify-items: center;
  margin-bottom: 100px;
}
.demo__video__wrapper img {
  width: 1110px;
  position: relative;
  z-index: -1;
}
.demo__video__wrapper .demo__video__icon {
  background-image: url(/img/play-button.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: grid;
  align-self: center;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}
.demo__video__wrapper .demo__video__icon:hover {
  opacity: 0.85;
}

footer {
  width: 100%;
  background-color: rgb(52, 84, 122);
  color: white;
  display: grid;
}
footer .footer__wrapper {
  width: 1110px;
  display: grid;
  justify-self: center;
  align-items: baseline;
  padding: 50px 0;
}
footer .footer__wrapper .footer__author {
  margin-bottom: 20px;
  font-family: var(--robotoM);
  font-size: 21px;
}
footer .footer__wrapper .footer__protection {
  font-size: 14px;
}