@import "_reset";



@font-face {
    font-family: 'RobotoR';
    src        : url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoM';
    src        : url('/fonts/Roboto-Medium.ttf');
}



$brand_Color       : rgb(52, 84, 122);
$brand_Color-hover : rgb(60, 96, 139);
$alt_Color         : rgb(114, 114, 114);
$h1_Title_Size     : 48px;
$h2_Title_Size     : 32px;
$body_Title_Size   : 16px;
$main_Wrapper_Width: 1110px;
$robotoR           : 'RobotoR';
$robotoM           : 'RobotoM';









h1,
h2 {
    font-family: $robotoM;
}

h1 {
    font-size: $h1_Title_Size;
}

h2 {
    font-size: $h2_Title_Size;
}

h5 {
    font-size: 21px;
}

p {
    font-size  : $body_Title_Size;
    color      : $alt_Color;
    line-height: 24px;
}

a {
    text-decoration: none;
    color          : black;
}

body {
    font-family     : $robotoR;
    background-color: rgb(249, 249, 249);
}



header {
    width           : 100%;
    display         : grid;
    justify-content : center;
    padding         : 30px 0;
    position        : fixed;
    background-color: rgb(238, 239, 241);

    .menu__wrapper {
        width     : $main_Wrapper_Width;
        // display: none;

        .menu {
            display              : grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-self         : start;
            gap                  : 42px;

            a:hover {
                color: $brand_Color-hover;
            }
        }
    }
}


.main__title {
    background-color: rgb(238, 239, 241);
    width           : 100%;
    display         : grid;
    justify-items   : center;
    padding-bottom  : 100px;

    .main__title__wrapper {
        width      : $main_Wrapper_Width;
        padding-top: 258px;

        h1 {
            margin-bottom: 60px;
        }

        p {
            width        : 540px;
            margin-bottom: 65px;
        }

        button {
            padding         : 18px 40px;
            border          : none;
            background-color: $brand_Color;
            color           : white;
            cursor          : pointer;

            &:hover {
                background-color: $brand_Color-hover;
            }
        }
    }
}


.about__title {
    display       : grid;
    justify-items : center;
    padding-top   : 100px;
    padding-bottom: 100px;

    .about__title__wrapper {
        display      : grid;
        justify-items: center;
        width        : $main_Wrapper_Width;

        h2 {
            margin-bottom: 50px;
            text-align   : center;
        }

        p {
            width     : 540px;
            text-align: center;
        }
    }
}


.portfolio {
    display         : grid;
    justify-items   : center;
    background-color: $brand_Color;
    padding         : 100px 0;
    width           : 100%;
    justify-content : space-around;

    .portfolio__wrapper {
        width                : $main_Wrapper_Width;
        display              : grid;
        justify-items        : center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .work__card {
            display              : grid;
            grid-template-columns: 1fr 1fr;
            justify-self         : start;
            align-items          : center;

            .work__card__icon {
                background-image : url(/img/project.svg);
                background-repeat: no-repeat;
                width            : 50px;
                height           : 50px;
            }

            h5,
            p {
                color: white;
            }
        }
    }
}


.service__title {
    display       : grid;
    justify-items : center;
    padding-top   : 100px;
    padding-bottom: 60px;

    .service__title__wrapper {
        display      : grid;
        justify-items: center;
        width        : $main_Wrapper_Width;

        h2 {
            margin-bottom: 50px;
            text-align   : center;
        }

        p {
            margin-bottom: 50px;
            text-align   : center;
            width        : 540px;
        }
    }
}


.demo__video__wrapper {
    display      : grid;
    justify-items: center;
    margin-bottom: 100px;

    img {
        width   : $main_Wrapper_Width;
        position: relative;
        z-index : -1;
    }

    .demo__video__icon {
        background-image : url(/img/play-button.svg);
        background-repeat: no-repeat;
        width            : 100px;
        height           : 100px;
        display          : grid;
        align-self       : center;
        position         : absolute;
        z-index          : -1;
        cursor           : pointer;

        &:hover {
            opacity: 0.85;
        }
    }
}


footer {
    width           : 100%;
    background-color: $brand_Color;
    color           : white;
    display         : grid;

    .footer__wrapper {

        width       : $main_Wrapper_Width;
        display     : grid;
        justify-self: center;
        align-items : baseline;
        padding     : 50px 0;

        .footer__author {

            margin-bottom: 20px;
            font-family  : var(--robotoM);
            font-size    : 21px;
        }

        .footer__protection {
            font-size: 14px;
        }
    }
}




@media (max-width: 1120px) {

    header {

        .menu__wrapper {
            padding-left: 40px;
            width       : 100%;
        }

    }


    .main__title {

        .main__title__wrapper {
            width       : auto;
            padding-left: 20px;
         
        }
    }


    .about__title {

        .about__title__wrapper {
            width: 100%;
        }
    }


    .portfolio {

        padding: 50px 0;

        .portfolio__wrapper {
            grid-template-columns: 1fr 1fr 1fr;
            gap                  : 50px;
            width                : 100%;
        }
    }


    .service__title {

        .service__title__wrapper {
            width: 100%;
        }
    }

    .demo__video__wrapper {

        img {
            width: 100%;
        }
    }


    footer {

        .footer__wrapper {
            width: 100%;

            .footer__author {
                padding-left: 20px;
            }

            .footer__protection {
                padding-left: 20px;
            }
        }
    }

}



@media (max-width: 768px) {


    header {
        justify-content: start;

        .menu__wrapper {
            display: none;
        }

        .menu__burger__wrapper {
            padding-left : 20px;
            display      : grid;
            justify-items: start;
        }
    }


    .main__title {
        justify-items: start;

        .main__title__wrapper {
            padding-top: 200px;

            h1 {
                line-height  : 50px;
                width        : 70%;
                margin-bottom: 40px;
            }

            p {
                width        : 80%;
                margin-bottom: 40px;
            }
        }
    }


    .about__title {
        padding-top   : 80px;
        padding-bottom: 80px;

        .about__title__wrapper {
            p {
                width: 80%;
            }
        }

    }


    .portfolio {

        .portfolio__wrapper {
            grid-template-columns: 1fr 1fr;
        }

    }


    .service__title {
        padding-top   : 80px;
        padding-bottom: 30px;

        .service__title__wrapper {

            h2 {
                width: 80%;
            }

            p {
                width: 80%;
            }
        }


    }

    .demo__video__wrapper {
        margin-bottom: 50px;
    }

    .footer__wrapper {
        grid-template-columns: 1fr 2fr;
        padding              : 20px 0;

        .footer__author {
            font-size    : 18px;
            line-height  : 26px;
            margin-bottom: 0;
        }

        .footer__protection {
            justify-self : end;
            padding-right: 20px;
            font-size    : 12px;
            text-align   : right;
        }
    }
}



@media (max-width: 432px) {

    header {
        padding: 15px 0;
    }


    .main__title {

        .main__title__wrapper {
            padding-top: 150px;
        }
    }


    .portfolio {

        .portfolio__wrapper {
            grid-template-columns: 1fr;
        }
    }

    .demo__video__wrapper {
        margin-bottom: 50px;

        .demo__video__icon {
            scale: 0.6;
        }
    }


}